@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,500&display=swap");

:root {
    /*Primary*/
    /*accent*/
    --Red: hsl(0, 78%, 62%);
    /*accent*/
    --Cyan: hsl(180, 62%, 55%);
    /*accent*/
    --Orange: hsl(34, 97%, 64%);
    /*accent*/
    --Blue: hsl(212, 86%, 64%);
    /*Neutral colors*/
    /*main heading*/
    --Very-Dark-Blue: hsla(234, 12%, 34%);
    /*paragraph*/
    --Grayish-Blue: hsl(229, 6%, 66%);
    /*Background*/
    --Very-Light-Gray: hsl(0, 0%, 98%);

    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-Light-Gray);
    width: 100%;
    max-width: 375px;
    margin-bottom: 20px;
}

.blue-text {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}


h1 {
    color: var(--Grayish-Blue);
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0%;
}

p {
    margin: 0 40px 40px;
    color: var(--Grayish-Blue);
}

.blue-text {
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    font-size: 26px;
}

h2 {
    padding-left: 20px;
    margin-bottom: 5px;
}

.card {
    background-color: white;
    border-radius: 5px;
    margin: 0 40px 30px;
    text-align: left;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    height: 200px;
}

.card-text {
    font-size: 12px;
    color: var(--Grayish-Blue);
    padding: 0 20px;
    margin-left: 0;
    margin-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    padding: 0 25px 0;
}

#cyan {
    border-top: 4px solid var(--Cyan);
}

#red {
    border-top: 4px solid var(--Red);
}

#orange {
    border-top: 4px solid var(--Orange);
}

#blue {
    border-top: 4px solid var(--Blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--Very-Dark-Blue);
    text-decoration: none;
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 65vh;
        max-width: 1200px;
        margin-bottom: 10px;
    }

    .middle {
        margin-top: 0%;
    }

    h1 {
        margin-top: 50px 0 20px;
        padding: 0 300px 0;
        font-size: 35px;
    }

    .blue-text {
        font-size: 35px;
    }

    p {
        font-size: 15px;
        padding: 0 300px 0;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .card {
        margin: 0;
        padding: 0;
        height: auto;
        width: 290px;
    }

    .red-card {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 15px;
        padding: 10px 20px 10px;
    }

    .card-text {
        padding: 0 20px 20px;
    }

    img {
        padding-bottom: 20px;
    }

    .left {
        margin-right: 30px;
    }

    .right {
        margin-left: 30px;
    }

    .footer {
        margin-top: 20px;
    }
}